body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.frame {
  text-align: center;
  padding: 150px;
  border: white dotted 10px;
}

.NavBar ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.NavBar ul li a {
  padding: 1em;
  color: inherit;
  text-transform:
    uppercase;
  display: inline-block;
  text-decoration: none;
}

.NavBar ul li a.active {
  font-weight: bold;
}