body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.frame {
  border-radius: 15px;
  background-color: grey;
  text-align: center;
  padding: 10px;
}

.NavBar {
  border-radius: 15px;
  
}

.NavBar ul {
  display: flex;
  list-style: none;
  justify-content: space-between; 
  padding: 0;
}

.NavBar ul li a {
  padding: 2em;
  color: inherit;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
}

.NavBar ul li a.active {
  font-weight: bold;
}

.DashboardPage button {
  margin: 10px;
  background-color: brown;
  color: black;
}